<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

  </head>
  <body>
    <h1>Menu service</h1>
    <div ng-controller="NarrowItDownController as list">

      <input type="text" ng-model="list.searchTerm" placeholder="Search for...">
      <button type="button" ng-click="list.narrowItDown();">Narrow It Down For Me!</button>
      <list-menu item-list="list" title={{list.title}}></list-menu>
      {{list.message}}
    </div>

  </body>
</html>
